<div id="hire" class="text-center" data-spy="affix" data-offset-top=700 data-offset-bottom=400>
  <p>
    <img src="/img/velocity-labs-logo-text.png" alt="Velocity Labs" class="img-responsive img-block" />
  </p>
  <p>
    Need web application development, maintenance for your existing app, or a third party code review?
  </p>
  <p>
    <strong class="text-uppercase">{{ site.company.name }} can help.</strong>
  </p>
  <a href="{{ site.company.url }}#contact" class="btn btn-warning btn-block" target="_blank">Hire us!</a>
</div>
