<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.min.js" | prepend: site.baseurl }}"></script>

<!-- Plugin JS -->
<script src="{{ "/js/jquery.justifiedGallery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.swipebox.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/instafeed.min.js" | prepend: site.baseurl }}"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-784505-1', 'auto');
  ga('send', 'pageview');

</script>

<script>
  $(function() {
    if($('#instafeed').length > 0) {
      var feed = new Instafeed({
        get: 'user',
        accessToken: '5876975400.8ab019e.b135cb5e2feb4265be6fd668ae936e7b',
        userId: '5876975400',
        resolution: 'low_resolution',
        template: '<a target="_blank" href="\{\{link\}\}"><img src="\{\{image\}\}" width="210" height="210" alt="\{\{caption\}\}" /></a>'
      });

      feed.run();
    }
  });
</script>
