<!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ " /js/clean-blog.min.js " | prepend: site.baseurl }}"></script>

<!-- Plugin JS -->
<script src="{{ " /js/jquery.justifiedGallery.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ " /js/jquery.swipebox.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ " /js/flickr.js " | prepend: site.baseurl }}"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-784505-1', 'auto');
  ga('send', 'pageview');

</script>

<script>
  $(function() {
    $('#gallery').flickrPhotoStream();

    $('#hire').affix({
      offset: {
        top: $('body header.intro-header').outerHeight() + 50,
        bottom: $('body footer').outerHeight() + 100
      }
    })
  });
</script>
