---
layout: default
comments: true
---

<header class="intro-header" style="background-image: url('{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1>{{ page.title }}</h1>

          {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
          {% endif %}

          <span class="meta">
            Posted by
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <img src="https://s.gravatar.com/avatar/{{ site.gravatar_hash }}?s=24" alt="{{ site.author }}" class="img-responsive img-circle inline-block" />
              {{ site.author }}
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% if page.update %}
          <div class="panel panel-danger update">
            <div class="panel-heading">
              <h3 class="panel-title">{{ page.update.title }}</h3>
            </div>
            <div class="panel-body">{{ page.update.body }}</div>
          </div>
        {% endif %}

        <div class="col-sm-5 pull-right hidden-xs">
          {% include hire.html %}
        </div>

        {{ content }}

        <div class="visible-xs">
          {% include hire.html %}
        </div>

        <hr style="clear: both;"/>

        <ul class="pager">
          {% if page.previous.url %}
            <li class="previous">
              <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
            </li>
          {% endif %}

          {% if page.next.url %}
            <li class="next">
              <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
            </li>
          {% endif %}
        </ul>

        {% include comments.html %}
      </div>
    </div>
  </div>
</article>

<hr/>
