---
layout: default
comments: true
---

{% if page.series %}
{% assign series_info = site.data.series[page.series] %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "position": {{ page.series_part }},
  "isPartOf": {
    "@type": "CreativeWorkSeries",
    "name": {{ series_info.title | jsonify }},
    "url": "{{ site.url }}{{ site.baseurl }}/series/{{ page.series }}/"
  }
}
</script>
{% endif %}

<div class="post-header">
  <h1>{{ page.title }}</h1>

  {% if page.subtitle %}
    <p class="post-subtitle">{{ page.subtitle }}</p>
  {% endif %}

  <div class="post-meta">
    <a href="{{ site.baseurl }}/about/" class="post-author">{{ site.author }}</a>
    <span class="reading-time">{{ content | reading_time }} min read</span>
    {% if page.categories.size > 0 %}
      <div class="post-meta-categories">
        {% for cat in page.categories %}
          <a href="{{ site.baseurl }}/{{ cat }}/" class="category-tag">{{ cat }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

<!-- Post Content -->
<article class="post-content">
  {% if page.update %}
    {% assign show_update = true %}
    {% if page.update.since %}
      {% assign since_ts = page.update.since | date: '%s' | plus: 0 %}
      {% assign now_ts = site.time | date: '%s' | plus: 0 %}
      {% if since_ts > now_ts %}{% assign show_update = false %}{% endif %}
    {% endif %}
    {% if show_update %}
      <div class="update-alert">
        <p class="update-title">{{ page.update.title }}</p>
        <div class="update-body">{{ page.update.body }}</div>
      </div>
    {% endif %}
  {% endif %}

  {% include series-nav.html %}

  {{ content }}

  {% include hire.html %}

  <hr/>

  <ul class="pager">
    {% if page.previous.url %}
      <li class="previous">
        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ page.previous.title }}">&larr; Previous</a>
      </li>
    {% endif %}

    {% if page.next.url %}
      <li class="next">
        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ page.next.title }}">Next &rarr;</a>
      </li>
    {% endif %}
  </ul>

  {% include comments.html %}
</article>
